@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  /* background-color: rgb(243 244 246 / var(--tw-bg-opacity)); */
  background-color: #e8ecf4;
  /* --foreground-rgb: 0, 0, 0;
  
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
  /* color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  /* cursor: none; */
  cursor: url("/images/logo.svg") 12 12, auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-element {
  display: inline-block;
  animation: rotate 2s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.animate-carousel {
  animation: marquee 60s linear infinite;
}

.letstry::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background: transparent;
  mask: linear-gradient(to top, transparent, black 35%);
  backdrop-filter: blur(2px);
}

.swiper-button-next {
  background-image: url(/images/arrowRight.svg);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  /* background-color: #fff; */
  /* border: 1px solid black; */
  margin-right: 1px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/images/arrowLeft.svg);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  /* background-color: #fff; */
  /* border: 1px solid black; */
  margin-left: 1px;
}

.swiper-button-prev::after {
  display: none;
}

.custom-cursor {
  cursor: url("/images/logo.svg") 12 12, auto;
}

/* a:hover {
  cursor: url("/images/logoHover.svg") 12 12, auto;
} */

/* Marquee styles */
.marquee {
  --gap: 8px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 200s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.enable-animation .marquee__content {
}

/* Reverse animation */
.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

.bg-custom-gradient {
  background: linear-gradient(180deg, #ee7752, #e73c7e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes colorChange {
  0%,
  100% {
    background-color: #6535d2; /* Purple */
  }
  33% {
    background-color: #dbff00; /* Neon Green */
  }
  66% {
    background-color: #ffa572; /* Coral */
  }
}

.header-enlarged {
  padding-bottom: 2rem; /* Increase the bottom padding */
  /* Add any other styles you want for the enlarged header */
}

@media screen and (max-width: 768px) {
  .no-top-border {
    border-top: none;
  }
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  background-color: #c8c8c8;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: black;
  /* border: black solid 0.5px; */
}

.swiper-button-prev {
  left: -50px !important;
  color: red !important;
  top: 50% !important;
}
.swiper-button-next {
  right: -50px !important;
  top: 50% !important;
}

.animate-rotate {
  animation: rotate 20s linear infinite; /* Adjust the duration as needed */
}

.projects-submenu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 105px); /* Adjust this value */
  height: 1px;
  background-color: black;
}

.about-submenu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 81px); /* Adjust this value */
  height: 1px;
  background-color: black;
}
